.title {
  text-align: center;
  
}

.select {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.select > select {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  transition: background 0.2s ease;
}

.select > select:hover {
  background: rgba(0, 0, 0, 0.1);
}

.select > select option {
  background: #ffffff;
}



.Divisascontainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;

}

.divisas {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}


.red {
  color: red !important;
}


.green {
  color: green !important;
}

.blue {
  color: blue !important;
}